:root {
  --brightorange: hsl(31, 77%, 52%);
  --darkcyan: hsl(184, 100%, 22%);
  --verydarkcyan: hsl(179, 100%, 13%);
  --transparentwhite: hsla(0, 0%, 100%, 0.75);
  --verylightgray: hsl(0, 0%, 95%);
}

body {
  font-size: 15px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 5px solid tomato;
}

.card-plan-sedans {
  border: none;
  flex: 1;
  max-width: 300px;
  padding: 20px;
  background-color: var(--brightorange);
  border-radius: 1px;
  text-align: center;
}

.card-plan-suvs {
  border: none;
  flex: 1;
  max-width: 300px;
  padding: 20px;
  background-color: var(--darkcyan);
  border-radius: 1px;
  text-align: center;
}

.card-plan-luxury {
  border: none;
  flex: 1;
  max-width: 300px;
  padding: 20px;
  background-color: var(--verydarkcyan);
  border-radius: 1px;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
